<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myAndroid.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 申请自定义的权限 -->
    <uses-permission android:name="com.myAndroid.hellorld.orderReceiver.permission" />

    <!-- 声明自定义的权限 -->
    <permission android:name="com.myAndroid.hellorld.orderReceiver.permission" />

    <application
        android:name="com.myAndroid.helloworld.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 此处的permission需要事先声明并申请 -->
        <receiver
            android:name=".receiver.FirstReceiver"
            android:permission="com.myAndroid.hellorld.orderReceiver.permission" >
            <intent-filter>
                <action
                    android:name="com.myAndroid.hellorld.orderReceiver.action"
                    android:priority="100" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SecondReceiver"
            android:permission="com.myAndroid.hellorld.orderReceiver.permission" >
            <intent-filter>
                <action
                    android:name="com.myAndroid.hellorld.orderReceiver.action"
                    android:priority="50" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ThiredReceiver"
            android:permission="com.myAndroid.hellorld.orderReceiver.permission" >
            <intent-filter>
                <action
                    android:name="com.myAndroid.hellorld.orderReceiver.action"
                    android:priority="20" />
            </intent-filter>
        </receiver>

        <service android:name=".service.SendMessageService" >
        </service>
        <service android:name=".service.TestService" >
        </service>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SecondActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.myAndroid.helloworld.second" />

                <category android:name="android.intent.category.DEFAULT" />
                
                <!-- 隐式意图启动时,不可以缺少一个匹配,建议使用setDataAndType() -->
                <data android:scheme="thehead" />
                <data android:mimeType="image/gif" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SendOrderReceiverActivity" />
        <activity android:name=".activity.ThirdActivity" />
        <activity android:name=".activity.DataListActivity" />
        <activity android:name=".activity.PopupwindowOnLeftActivity" />
        <activity android:name=".activity.SendMessageActivity" />
        <activity android:name=".activity.SlidingDrawerActivity" />
        <activity android:name=".activity.DownloadManagerActivity" />
        <activity android:name=".activity.ImageViewActivity" />
        <activity android:name=".activity.WebViewActivity" />
    </application>

</manifest>